//componentes 
@import 'components/header';
@import 'components/circles';
@import 'components/tratments';
@import 'components/our-team';
@import 'components/footer';
@import 'components/our-reviews';
@import 'components/titles';
@import'components/pricing';
@import'components/article';

//variables
@import 'editable/variables';

//global
@import'editable/global';

//mixins
@mixin buttom {
  background-color: #303030;
  border: #303030;
  border-radius: 5px;
  padding: 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}
//global-body

body {
  font-family: $body_family_font;
  margin: 0;
  padding: 0;
}

button{
  @include buttom();
}

