.img-circle {
  width: 95px;
  margin-bottom: -20px;
  margin-left: 57px;
}

.circles {
  display: flex;
  margin: 0 auto;
  width: 697px;
  margin-left: 259px;
}

.title-circles {
  margin-bottom: -5px;
  text-align: center;
  color:  #303030;
}

.sect-circle2 {
  margin-left: 25px;
}

.sect-circle3 {
  margin-left: 22px;
}

.circles-p {
  text-align: center;
  color:  #303030;
}