footer {
  background-color: #303030;
  margin: -8px;
  color: #ffffff;
  display: flex;
  font-size: 14px;
}

.color-p-footer {
  color: #E27D60
}

li {
  list-style: none;
}

.p-millious {
  margin-left: 222px;
  margin-top: 97px;
  margin-right: 54px;
  font-weight: 600;
}

.social-media {
  margin-top: 93px;
}

.sect-information {
  margin-left: 65px;
  margin-top: 40px;
  font-weight: 600;
}

.address {
  text-decoration: none;
  color: #ffffff;
  font-style: normal;
  font-weight: 600;
}

.ul-information {
  margin-left: -39px;
}

.li-footer {
  margin-bottom: 10px;
}

.sect-quick-links {
  margin-left: 80px;
  margin-top: 40px;
  font-weight: 600;
}

.ul-quick-links {
  margin-left: -37px;
}

.sect-contact-us {
  margin-left: 80px;
  margin-top: 40px;
  font-weight: 600;
}

.ul-contact-us {
  margin-left: -39px;
}

.span-footer {
  color: #e6e6e661;
  font-size: 12px;
  margin-top: 194px;
}

.millious-span {
  margin-left: -860px;
}

.right-res-span {
  margin-left: 667px;
  margin-top: 194px;
}

.margin-address {
  margin-left: 20px;
}

.ubication-footer {
  margin-top: -24px;
}

.contact-footer {
  margin-top: -23px;
  margin-bottom: 12px;
}

.mail-footer {
  margin-top: -21px;
  margin-left: 4px;
}