.background-gray {
  background-color: #e6e6e6c2;
  margin-left: -8px;
  margin-right: -8px;
}

.sect-our-reviews {
  display: flex;
  margin-bottom: 30px;
}

.img-our-rev {
  width: 430px;
  margin-right: 145px;
  margin-top: 55px;
}

.text-our-rev {
  margin-top: 79px;
  margin-right: 36px;
  text-align: right;
  color:  #303030;
}

.p-our-rev {
  padding-left: 191px;
  font-size: 15px;
}

.h-our-rev {
  font-size: 29px;
  color:#E27D60;
  margin-top: 6px;
}

.quotes {
  display: flex;
  margin-left: 68px;
}

.quote-p {
  font-size: 12px;
  padding-left: 17px;
  background-color: #ffffff;
  border: 2px solid #E6E6E6;
  padding: 15px;
}

.blockquote1 {
  margin-left: 64px;
}

.blockquote2 {
  margin-right: 64px;
}

.blockquote3 {
  margin-left: -20px;
  margin-right: 143px;
}

.margin-quote {
  margin-left: -25px;
}

.person {
  display: flex;
}

.img-person {
  width: 48px;
  height: 48px;
}

.person-text {
  font-size: 12px;
  margin-top: -8px;
  margin-left: 11px;
}

.h-person {
  margin-bottom: -6px;
  color:#E27D60;
}

.p-city-person {
  color: #939393;
}

.img-arrow-quotes {
  width: 130px;
  margin-top: 11px;
  margin-left: 555px;
  margin-bottom: 49px;
}