.sect-l {
  border: 4px solid purple;
  max-width: 100%;
  height: 421px;
  display: flex;
  margin-top: 100px;
  margin-bottom: 100px;

}
.background-left{
  background-color: #e6e6e6c2;
  max-width:10px;
}

.text-l{
  margin-top: 89px;
  margin-right: 72px;
  text-align: center;
  color: #303030;
}

.h-l{
  font-size: 29px;
  color: #E27D60;
  margin-top: 7px;
}
.p-l{
  text-align: initial;
  margin-left: 161px;
  font-size: 15px;
}