.tratments {
  border: 4px solid aqua;
  position: relative;
  text-align: center;
  h2{
    color:#E27D60;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0.02em;
  }

  span{
    text-transform: uppercase;
  }

}

.rehabilitation_img{
  position: relative;
  top: 8px;
}
